.info-box{
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0,0,0,.4);
    border-radius: 3px;
    box-shadow: none;
    padding: 0 10px 0 10px;
    font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

/* Propiedades del loader*/
#loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.6);
    transition:background 1s ease-out;
    -webkit-transition:background 1s ease-out;
    z-index: 10000;
}
#loader.done {
    background:rgba(255, 255, 255, 0);
}

#loader.hide {
    display:none;
}

/* Propiedades del Mapa */
#map {
    height: 100%;
    width:100%;
    z-index: 1;
    /*position: absolute;*/
}

#map-container{
  height: 100%;
  width:100%;
}

/* Propiedades del panel de filtros */
.left-panel {
  height: 95% !important;
  display: none;
  width: 240px;
  background-color: #eee;
  text-align: center;
/*  color: #000000;
*/  overflow: auto;
}

/* Propiedades de los filtros */
.filtro-ancho{
  margin: 0px !important;
  width: 180px !important;
}

/* Propiedades del panel Popup */
.right-panel{
  display: none;
  text-align: center;
  width: 350px;
  background-color: #eee;
  color: #000000;
  height: 95% !important;
  overflow: auto;
}

.right-panel h3{
    color: #000000;
}
.right-panel table{
  width: 80%;
  margin: 0 auto;
}
.attr-title {
  font-weight: bold;
  text-align: center;
}

/* Propiedades del boton */
.btn-tag {
  cursor: pointer;  
  border-radius: 5px;
  text-decoration: none;
  font-size: 22px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
}
.btn-tag-slide {
  margin-left: -40px;
  position: absolute;
  margin-top: 20%;
  z-index: 2;
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */  
}

.btn-tag:hover {
  cursor: pointer;
}

.tag {
  color: #0c7cd5 !important;
  border: 2px #0c7cd5 solid;
}

.tag:hover {
  color: #fff !important;
  background-color: #2196f3;
}

h6{
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-red {
  float:left;
  width: 42px;
  font-size: 1.8em;
  font-weight: bold;
  padding: 0px;
  margin-top: -8px;
  margin-left: -8px;
}

.close-btn:hover {
  color: #cd2c67 !important;
  text-decoration: none;
}

.close-btn{
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
  background: #eee;
  color: #df5656 !important;
}

.m4{
  height: 78px !important;
  line-height: 78px;
  left: -33px;
  top: -33px;
  width: 78px !important;
  text-align: center;
  cursor: pointer;
  color: black;
  position: absolute;
  font-size: 11px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-image: url(/images/m4.png);
  background-position: 0px 0px;
}

.m3{
  height: 66px !important;
  line-height: 66px;
  left: -27px;
  top: -27px;
  width: 66px !important;
  text-align: center;
  cursor: pointer;
  color: black;
  position: absolute;
  font-size: 11px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-image: url(/images/m3.png);
  background-position: 0px 0px;
}

.m2{
  height: 56px !important;
  line-height: 56px;
  left: -22px;
  top: -22px;
  width: 56px !important;
  text-align: center;
  cursor: pointer;
  color: black;
  position: absolute;
  font-size: 11px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-image: url(/images/m2.png);
  background-position: 0px 0px;
}

.m1{
  height: 53px !important;
  line-height: 53px;
  left: -20.5px;
  top: -20.5px;
  width: 53px !important;
  text-align: center;
  cursor: pointer;
  color: black;
  position: absolute;
  font-size: 11px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-image: url(/images/m1.png);
  background-position: 0px 0px;
}