.info-box{
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0,0,0,.4);
    border-radius: 3px;
    box-shadow: none;
    padding: 0 10px 0 10px;
    font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

/* Propiedades del loader*/
#loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.6);
    transition:background 1s ease-out;
    -webkit-transition:background 1s ease-out;
    z-index: 10000;
}
#loader.done {
    background:rgba(255, 255, 255, 0);
}

#loader.hide {
    display:none;
}

/* Propiedades del Mapa */
#map {
    height: 100%;
    width:100%;
    z-index: 1;
    /*position: absolute;*/
}

#map-container{
  height: 100%;
  width:100%;
}

/* Propiedades del panel de filtros */
.left-panel {
  height: 95% !important;
  display: none;
  width: 240px;
  background-color: #eee;
  text-align: center;
/*  color: #000000;
*/  overflow: auto;
}

/* Propiedades de los filtros */
.filtro-ancho{
  margin: 0px !important;
  width: 180px !important;
}

/* Propiedades del panel Popup */
.right-panel {
  display: none;
  text-align: center;
  width: 350px;
  background-color: #eee;
  color: #000000;
  height: 95% !important;
}

.right-panel h3{
    color: #000000;
}
.right-panel table{
  width: 80%;
  margin: 0 auto;
}
.attr-title {
  font-weight: bold;
}

/* Propiedades del boton */
.btn-tag {
  cursor: pointer;  
  border-radius: 5px;
  text-decoration: none;
  font-size: 22px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
}
.btn-tag-slide {
  margin-left: -40px;
  position: absolute;
  margin-top: 20%;
  z-index: 2;
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */  
}

.btn-tag:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.tag {
  color: #0c7cd5 !important;
  border: 2px #0c7cd5 solid;
}

.tag:hover {
  color: #fff !important;
  background-color: #2196f3;
}

h6{
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-red {
  display: block;
  padding: 0px !important;
  float:left;
  height: 30px;
  width: 30px;
  color: #E60000 !important;
  border: 2px #E60000 solid;
}

.tag-red:hover {
  color: #fff !important;
  background-color: #E60000;
  box-shadow: inset 0 0 0 5px #B20000;
}
