.info-box{
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0,0,0,.4);
    border-radius: 3px;
    box-shadow: none;
    padding: 0 10px 0 10px;
    font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
#loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.6);
    transition:background 1s ease-out;
    -webkit-transition:background 1s ease-out;
    z-index: 10000;
}
#loader.done {
    background:rgba(255, 255, 255, 0);
}

#loader.hide {
    display:none;
}
#map {
    height:600px;
    width:102%;
    z-index: 1;
    /*position: absolute;*/
    margin-left: -14px !important;
}
.left-panel {
  display: none;
  width: 240px;
  background-color: #8c0505;
  box-shadow: inset 0 0 5px 5px #222;
  text-align: center;
}
.left-panel select{
    width: 180px;
}
.left-panel h4{
    color: #fff;
}

.right-panel {
  display: none;
  width: 350px;
  background-color: #8c0505;
  box-shadow: inset 0 0 5px 5px #222;
  color: #000000;
}
.right-panel h3{
    color: #fff;
}


/*****/
.btn-slide {
  cursor: pointer;  
  border-radius: 5px;
  text-decoration: none;
  font-size: 22px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  /*margin-left: -67px;*/
  margin-left: -70px;
  position: fixed;
  margin-top: 20%;
  z-index: 2;
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */  
}

.btn:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.red {
  color: #8c0505 !important;
  border: 2px #8c0505 solid;
}

.red:hover {
  color: #fff !important;
  background-color: #8c0505;
}