<div id="left-panel-link" class="left-panel panel panel-default" role="navigation">
  <div id="mapa-filtro">
    <h6>Periodo</h6>
    <div id="filtro_periodo" class="btn-group-vertical" data-toggle="buttons"></div>
    <h6>Codigo Establecimiento</h6>
    <select multiple id="filtro_codigo_establecimiento" name="filtro_codigo_establecimiento" class="filtro-ancho" ng-model="local.codigo_establecimiento" ng-change="updateFiltro()"></select><br/>
    <h6>Departamento</h6>
    <select multiple id="filtro_nombre_departamento" name="filtro_nombre_departamento" class="filtro-ancho" ng-model="local.nombre_departamento" ng-change="updateFiltro()"></select><br/>
    <h6>Distrito</h6>
    <select multiple id="filtro_nombre_distrito" name="filtro_nombre_distrito" class="filtro-ancho" ng-model="local.nombre_distrito" ng-change="updateFiltro()"></select><br/>
    <h6>Barrio/Localidad</h6>
    <select multiple id="filtro_nombre_barrio_localidad" name="filtro_nombre_barrio_localidad" class="filtro-ancho" ng-model="local.nombre_barrio_localidad" ng-change="updateFiltro()"></select><br/>
    <h6>Zona</h6>
    <div id="filtro_nombre_zona" class="btn-group-vertical" data-toggle="buttons"></div>
    <h6>Proyecto 111</h6>
    <div id="filtro_proyecto111" class="btn-group-vertical" data-toggle="buttons"></div>
    <h6>Proyecto 822</h6>
    <div id="filtro_proyecto822" class="btn-group-vertical" data-toggle="buttons"></div>
  </div>
  <br/>
</div>